[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh_custom/plugins/zsh-completions"]
	path = zsh_custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
