[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vimdir"]
	path = vimdir
	url = https://github.com/feniix/vimdir.git
[submodule "asdf"]
	path = asdf
	url = https://github.com/asdf-vm/asdf.git
